body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border-style: none;
  padding: 0;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

input {
  background-color: transparent;
  border: none;
}


a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
