// Main colors
$primary-color: #00C499;
$secondary-color: #F3A826;
$tertiary-color: #8791AA;

//Base colors
$base-color-light: #FFFFFF;
$base-color-light-1: #F2F4F8;
$base-color-light-2: #D7DDED;

$base-color-dark: #252525;
